<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id, "ID" %>
    <%= f.text_field :id , disabled: true %>
  </div>

  <div class="field">
    <%= f.label :name %> 
    <%= f.text_field :name, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :given_name %>
    <%= f.text_field :given_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth %>
  </div>
  
  <div class="field">
    <%= f.label :date_of_entry %>
    <%= f.text_field :date_of_entry %>
  </div>

  <div class="field">
    <%= f.label :doe_source , "DoE Source"%>
    <%= f.text_field :doe_source %>
  </div>

  <div class="field">
    <%= f.label :date_of_citizenship %>
    <%= f.text_field :date_of_citizenship %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save changes", class: "btn btn-primary" %>
  </div>
<% end %>
