<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person.Date_of_Birth %>
</p>

<p>
  <strong>Date of entry:</strong>
  <%= @person.Date_of_Entry %>
</p>

<p>
  <strong>Doe source:</strong>
  <%= @person.DoE_Source %>
</p>

<p>
  <strong>Date of citizenship:</strong>
  <%= @person.Date_of_Citizenship %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @person.notes %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>.  Note that dates cannot be currently edited. Use pgAdmin or ask Greg to fix the form.
