<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Given:</strong>
  <%= @person.given_name %>
  <strong>,  Last:</strong>
  <%= @person.last_name %> 
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person.date_of_birth %>
</p>

<p>
  <strong>Date of entry:</strong>
  <%= @person.date_of_entry %>
</p>

<p>
  <strong>Doe source:</strong>
  <%= @person.doe_source %>
</p>

<p>
  <strong>Date of citizenship:</strong>
  <%= @person.date_of_citizenship %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @person.notes %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'To people list', people_path %>.  Note that dates cannot be currently edited. Use pgAdmin or ask Greg to fix the form.
