<%= form_for(@acknowledgement) do |f| %>
  <% if @acknowledgement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acknowledgement.errors.count, "error") %> prohibited this acknowledgement from being saved:</h2>

      <ul>
      <% @acknowledgement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
