<p id="notice"><%= notice %></p>

<h1>Acknowledgements</h1>
<h2>References and sources, and inspirations.</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Subject</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acknowledgements.each do |acknowledgement| %>
      <tr>
        <td><%= acknowledgement.name %></td>
        <td><%= acknowledgement.url %></td>
        <td><%= acknowledgement.subject %></td>
        <td><%= acknowledgement.comments %></td>
        <td><%= link_to 'Show', acknowledgement %></td>
        <td><%= link_to 'Edit', edit_acknowledgement_path(acknowledgement) %></td>
        <td><%= link_to 'Destroy', acknowledgement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acknowledgement', new_acknowledgement_path %>
